@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.ubar-font {
  font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

.arrow-icon {
  transition: transform 0.5s ease-in-out, opacity 0.5s;
}

.arrow-wrapper {
  position: relative;
  overflow: hidden;
  width: 50px; /* Adjust based on design */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hover effect on the entire div */
.flex:hover .arrow-icon {
  transform: translateX(20px);
  opacity: 0;
  animation: reappear 1s ease-in-out forwards;
}

@keyframes reappear {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
